<% if posts_count.present? %>
  <h4 class="mt-4">検索結果</h4>
  <table class="table table-bordered"> 
      <tr>
        <th>投稿数</th>
      </tr>
      <tr>
        <td><%= posts_count %></td>
      </tr>
  </table>
<% end %>