/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
.flash{
//   height:40px;
}

// header
.nav-link{
    transition:all .3s ease;
}

.nav-link:hover{
    opacity:0.6;
}

.link{
    width:450px;
}

// travels
.travels-section{
  display:flex;
}

// favorite
.like-btn {
 width: 18px;
 height: 22px;
 font-size: 22px;
 color: #808080;
 margin-left: 20px;
 margin-right: 5px;

}

.unlike-btn {
 width: 18px;
 height: 22px;
 font-size: 22px;
 color: #e54747;
 margin-left: 20px;
 margin-right: 5px;
 }

// user_info
 .img{
     border-radius:50%;
 }

// follow follower
.follow, .followed{
  border-radius:22px;
  padding-right:10px;
  padding-left:10px;
  border-width:0.12rem;
}

.followed:hover{
  background-color:#5EAADE;
  border-color:#5EAADE;
}

.follow:hover{
  background-color:#5EAADE;
  border-color:#5EAADE;
}

.follow{
  background-color:#fff;
  border-color:#5EAADE;
  color:#5EAADE;
}

.followed{
  background-color:#5EAADE;
  border-color:#5EAADE;
}


.follow-count, .followed-count{
    font-size:13px;
    margin-left:2px;
}


